<a href="https://colab.research.google.com/github/Alicia-LB/Sales-Prediction/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
import pandas as pd

In [38]:
filename = '/content/drive/MyDrive/Coding Dojo Collab Notebooks/data/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

#Data-Cleaning

In [39]:
#1. How many rows and columns?

df.shape

(8523, 12)

In [50]:
#2. What are the datatypes of each variable?

data = df.dtypes
data

Item_Identifier               object
Item_Weight                   object
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [41]:
#3. Are there duplicates?
# no duplicates present

df[df.duplicated()]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [42]:
#4. Identify missing values.
#Item_Weight & Outlet_Size are the columns that have missing values

df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [45]:
#5 Decide on how to address the missing values
#Can't really take those nans out becasue they correlate with a lot of the other columns: i.e.- find the correlation or use placeholders
#Went with placeholders as it was a simpler approach for now

df['Outlet_Size'].fillna('Missing', inplace = True)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [48]:
#Did placeholders for item_weight as well
#I would have done 0 or the most frequent numbers, but with each item_weight pertaining to a specific identifier and item type, I didn't see those to be fit

df['Item_Weight'].fillna('Missing', inplace = True)
df

     Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15         9.3  ...  Supermarket Type1          3735.1380
1              DRC01        5.92  ...  Supermarket Type2           443.4228
2              FDN15        17.5  ...  Supermarket Type1          2097.2700
3              FDX07        19.2  ...      Grocery Store           732.3800
4              NCD19        8.93  ...  Supermarket Type1           994.7052
...              ...         ...  ...                ...                ...
8518           FDF22       6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.38  ...  Supermarket Type1           549.2850
8520           NCJ29        10.6  ...  Supermarket Type1          1193.1136
8521           FDN46        7.21  ...  Supermarket Type2          1845.5976
8522           DRG01        14.8  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [49]:
#6. Confirm that there are no missing values after addressing them.
#Tested to see if the nans were equal to 0 for the meantime

df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [53]:
#7.  Find and fix any inconsistent categories of data

str_cols = data[data == 'object']
str_cols.index

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Type',
       'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [58]:
#Looped through every column with vaule counts to see all the strings easier 
#Noticed with the Item_Fat_Content the LF, reg, and low fat should only be either Low Fat or Regular

for col in str_cols.index:
  print(f"**{col}:")
  print(df[col].value_counts())
  print("\n\n")

**Item_Identifier:
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64



**Item_Weight:
Missing    1463
12.15        86
17.6         82
13.65        77
11.8         76
           ...
7.275         2
7.685         1
9.42          1
6.52          1
5.4           1
Name: Item_Weight, Length: 416, dtype: int64



**Item_Fat_Content:
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64



**Item_Type:
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64



**Outlet_Identifier:
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64



**Outlet_Size:
Medium     2793
Missing    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64



**Outlet_Location_Type:
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64



**Outlet_Type:
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [62]:
#Need to replace the LF, reg, and low fat to Low Fat or Regular using replace
#check data changed with value counts of that column

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [63]:
#8. For any numerical columns, obtain the summary statistics of each (min, max, mean)

df.describe()

       Item_Visibility  ...  Item_Outlet_Sales
count      8523.000000  ...        8523.000000
mean          0.066132  ...        2181.288914
std           0.051598  ...        1706.499616
min           0.000000  ...          33.290000
25%           0.026989  ...         834.247400
50%           0.053931  ...        1794.331000
75%           0.094585  ...        3101.296400
max           0.328391  ...       13086.964800

[8 rows x 4 columns]